---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <Header />

    <section>
      <!-- Content that sits on top of the background image -->
      <div class="flex flex-col items-center justify-center gap-4 text-center">
        <h1 class="font-bold text-2xl">MT: A Meditation Timer</h1>
        <p class="font-light text-sm">
          MT: A Meditation Timer helps you cultivate mindfulness while staying
          connected with others. Track your progress, set personal goals, and
          share your meditation journey with friends for added accountability.
          Stay consistent, stay grounded, and grow together with MT.
        </p>
        <!-- App Store Button -->
        <a href="#" class="">
          <img src="/download-app-store.svg" alt="" />
        </a>
      </div>
    </section>
  </div>

  <Footer />
</Layout>
