<footer
  class="flex justify-between border-t border-t-foreground font-medium text-sm py-6"
>
  <p class="hidden sm:block">Copyright © mt:a meditation timer</p>
  <div>
    <a href="https://loosecollective.dev/support/">Privacy Policy</a> |
    <a href="https://loosecollective.dev/support/">Support</a>
  </div>
</footer>
