<header class="flex items-center gap-x-10">
  <div class="border-b border-b-foreground flex-grow"></div>
  <div>
    <img src="/logo.svg" alt="" />
  </div>
  <div class="border-b border-b-foreground flex-grow"></div>
</header>
